h1 {
    text-align: center;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 30px;
    
    .portfolio-card {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px;
      text-align: center;
      
      img {
        max-width: 50%;
        border-radius: 5px 5px 0 0;
      }
      
      h3 {
        margin: 10px 0;
        font-size: 1.2rem;
      }
      
      p {
        white-space: pre-line;
        font-size: 1rem;
      }
    }
  }
  