.home-content {
    font-family: 'OpenSans', 'arial', sans-serif;
}
.home-content img {
    display: block;
}
.home-content h3 {
    font-family: 'Google-Sans-Bold', 'arial', sans-serif;
}
.home-content h2 {
    text-align: center;
    margin-bottom: 0;
}
.home-content table {
    padding: 0px 30px 30px 30px;
    border-spacing: 10px;
}
.intro {
    background-color: #4285f4;
    padding: 40px 40px;
    color: white;
    text-align: center;
}
.intro h2 {
    margin-top: 0;
}