<!-- <img width="100%" src="/assets/GDSC23-Landing-Page-Header.png"><img> -->
<div class="home-content">
    <img width="100%" src="/assets/GDSC23-DevSite-2650.png">
    <h2>Our Goals</h2>
    <table>
        <tr>
            <td>
                <h3>Connect</h3>
                <p>Meet students interested in developer technologies at your college or university. All are welcome, including those with diverse backgrounds and different majors.</p>
            </td>
            <td>
                <h3>Learn</h3>
                <p>Learn about a range of technical topics and gain new skills through hands-on workshops, events, talks, and project-building activities online and in-person.</p>
            </td>
            <td>
                <h3>Grow</h3>
                <p>Apply new learnings to build great solutions for local problems. Advance your skills, career, and network. Give back to your community by helping others learn.</p>
            </td>
        </tr>
    </table>
    <div class="intro">
        <h2>What is GDSC S&T?</h2>
        <p>GDSC S&T is the Google Developer Student Club at Missouri S&T. We are 
            a community of students who are passionate about technology and want 
            to make a difference in the world. Join us to learn about Google technologies, grow as a candidate, 
            and connect with other developers. Check out our <a href="/event"><u>upcoming events</u></a> and <a href="/portfolio"></a><u>portfolio</u>.</p>        
        <p>If you are a student at Missouri S&T and are interested in learning more about Google technologies, I invite you to join GDSC S&T.</p>
        <a href="https://discord.gg/ZZUkUedHC3">
            <button mat-flat-button>
                <img src="/assets/discord-blue.webp" width="60" />
            </button>
        </a>
    </div>
</div>